@tailwind base;
@tailwind components;
@tailwind utilities;

.store-short-desc p {
  display: inline-block;
  width: 98%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.store-short-desc br {
  display: none;
}

.testing {
  box-shadow: 0px -28px 162px -14px rgba(255, 255, 255, 0.75) inset;
  -webkit-box-shadow: 0px -28px 162px -14px rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 0px -28px 162px -14px rgba(255, 255, 255, 0.75) inset;
}

.custom-date-picker,
.custom-date-picker > div.react-datepicker-wrapper,
.custom-date-picker
  > div
  > div.react-datepicker__input-container
  .custom-date-picker
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}

.video-yt-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.video-yt-wrapper iframe {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-35%, -10%);
  /* width: calc((100vh + 25%)* 16 / 7);
  height: calc((100vh)* 16 / 7); */
  width: calc((244vh + 25%) * 16 / 7);
  height: calc((39vh) * 16 / 7);
}
